<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.springrest.mappers.tradeMapper">

	
	<insert id="insertProduct">
		insert into trade(title,category,price,content) 
		values(#{title,jdbcType=VARCHAR},#{category,jdbcType=VARCHAR},#{price, jdbcType=INTEGER},#{content,jdbcType=VARCHAR})
	</insert>
	
	 <select id="getSearchList" parameterType="hashmap" resultType="com.study.springrest.domain.TradeVO">
        SELECT * 
		FROM TRADE
		 <where>
			<choose>
			<when test="keyfield == '전체'">
					  CONTENT LIKE '%'||#{keyword}||'%' order by no desc
				</when>
				<when test="keyfield == '가전제품'">
					 CATEGORY='가전제품' AND CONTENT LIKE '%'||#{keyword}||'%' 
				</when>
				<when test="keyfield == '의류'">
					 CATEGORY='의류' AND CONTENT LIKE '%'||#{keyword}||'%'  
				</when>
				<when test="keyfield == '기타'">
					 CATEGORY='기타' AND CONTENT LIKE '%'||#{keyword}||'%'  
				</when>
			</choose>
		</where> 
    </select>
	

	<update id="updateProduct" >
			update TRADE
			<!--<trim prefix="SET" suffixOverrides=",">
			</trim> -->	
			<set>
				<if test="title != null">
					title=#{title},
				</if>
				<if test="category != null">
					category=#{category},
				</if>
				<if test="price !=null"> 
					price=#{price},
				</if>
				<if test="content !=null"> 
					content=#{content}
				</if>
			</set>
				where no=#{no}
		</update>
		
	
		<delete id="deleteProduct" >
			delete from TRADE where no= #{no}
		</delete>
		
		<select id="get" resultType="com.study.springrest.domain.TradeVO">
			select * from trade where no= #{no}
		</select>
		
		<select id="getList" resultType="com.study.springrest.domain.TradeVO">
			select * from trade order by no desc
		</select>
	

</mapper>


	
	
		
	